In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("customers.csv")

In [33]:
df.head()

,email,_website,_store,confirmation,created_at,created_in,disable_auto_group_change,dob,firstname,gender,...,password_hash,prefix,rp_token,rp_token_created_at,store_id,suffix,taxvat,updated_at,website_id,password
0,roni_cost@example.com,base,default,NaN,2016-06-18 07:37:41,Default Store View,0,NaN,Veronica,0,...,40e3cb67a7304e4edc3cb878b8a3d22f92dbf16ad94487...,NaN,c0e19395db4a40469fdea8a06cac03c5,2016-06-18 07:37:42,1,NaN,NaN,2016-06-18 07:46:04,1,NaN
1,soodip.kafle1@gmail.com,base,default,NaN,2016-06-22 18:14:21,Default Store View,0,NaN,Sudip,NaN,...,e5fff6614e0bd222032fc1674f9e38a9fd2a8f9b19000e...,NaN,e44127427060030b8b68f50151f6c982,2016-06-22 18:14:23,1,NaN,NaN,2016-06-22 18:14:23,1,NaN
2,soozankaphle@gmail.com,base,default,NaN,2016-06-22 18:15:41,Default Store View,0,NaN,Sujan,NaN,...,5ecfa6edb8ce066aea087dd9efa73195943c587d1736c9...,NaN,8a1ba8c401d3f909ea87eaee54751aec,2016-06-22 18:15:43,1,NaN,NaN,2016-06-22 18:15:43,1,NaN

In [34]:
required_fields = ['email', 'firstname', 'middlename', 'lastname', 'password_hash' ]
users = df[required_fields].fillna("").to_dict(orient='records')
users

[{'email': 'roni_cost@example.com',
  'firstname': 'Veronica',
  'lastname': 'Costello',
  'middlename': '',
  'password_hash': '40e3cb67a7304e4edc3cb878b8a3d22f92dbf16ad9448709fa6fc12961198a93:vCS4lPmKJbC4NdpmfAdzaLKSFzlDYGZS:1'},
 {'email': 'soodip.kafle1@gmail.com',
  'firstname': 'Sudip',
  'lastname': 'Kafle',
  'middlename': '',
  'password_hash': 'e5fff6614e0bd222032fc1674f9e38a9fd2a8f9b19000e93f95d0562a2c6b288:whvVYDtNi8KHgD1lCt3yerC7ZeNfGvAp:1'},
 {'email': 'soozankaphle@gmail.com',
  'firstname': 'Sujan',
  'lastname': 'Kafle',
  'middlename': '',
  'password_hash': '5ecfa6edb8ce066aea087dd9efa73195943c587d1736c9dea644898d325a69c4:hwYC8D5yeHKFXEwaeXZVf7tfhrUiXe2t:1'}]

## Lets generate fixtures based on users

In [35]:
all_users = []
user_count = 1

In [36]:
for user in users:
    all_users.append(
        {
            "model": "users.user",
            "pk": user_count,
            "fields": {
                "name": " ".join([user['firstname'], user['middlename'], user['lastname']]).replace("  ", " "),
                "email": user['email'],
                "password": user['password_hash'],
                "username": user['firstname'] + str(user_count)
            }
        }
    )
    user_count += 1

In [37]:
all_users

[{'fields': {'email': 'roni_cost@example.com',
   'name': 'Veronica Costello',
   'password': '40e3cb67a7304e4edc3cb878b8a3d22f92dbf16ad9448709fa6fc12961198a93:vCS4lPmKJbC4NdpmfAdzaLKSFzlDYGZS:1',
   'username': 'Veronica1'},
  'model': 'users.user',
  'pk': 1},
 {'fields': {'email': 'soodip.kafle1@gmail.com',
   'name': 'Sudip Kafle',
   'password': 'e5fff6614e0bd222032fc1674f9e38a9fd2a8f9b19000e93f95d0562a2c6b288:whvVYDtNi8KHgD1lCt3yerC7ZeNfGvAp:1',
   'username': 'Sudip2'},
  'model': 'users.user',
  'pk': 2},
 {'fields': {'email': 'soozankaphle@gmail.com',
   'name': 'Sujan Kafle',
   'password': '5ecfa6edb8ce066aea087dd9efa73195943c587d1736c9dea644898d325a69c4:hwYC8D5yeHKFXEwaeXZVf7tfhrUiXe2t:1',
   'username': 'Sujan3'},
  'model': 'users.user',
  'pk': 3}]

In [38]:
import json
with open('user_fixtures.json', 'w') as outfile:
    json.dump(all_users, outfile)